@charset "UTF-8";
.login {
	width: 100%;
	margin: 0 auto;
	padding-left: 30px;		
}
.login_form {
	margin: 0 auto;	
	padding: 10px;
	width: 50%;
	text-align: center;	
	border: 7px double #ff7f50;	
}
.login_form fieldset {
	width: 80%;
	margin: 0 auto;
}
.login_form > p {
	font-weight: bolder;
	font-size: 22px;
}
.login_form input {
	width: 70%;
	padding: 10px;
	border: none;
	border-bottom: 1px solid black;
	font-size: 80%;
}
.login_form input[name=login_check] {
	width: 10%;
	padding: 0;
	padding-left: 10px;
}
.login_form button {
	width: 80%;
	border-radius: 50px;
	margin-top: 10px;
	padding: 10px 0;
	background-color: #f5ba41;
	color: white;
	border-color: white;
}
.login_form select {
	width: 72%;
	font-size: 80%;
}
.signup_pw {
	width: 100%;
}


/* remake sign up */

.signup_pw > img {
	width: 20px;
	height: 20px;
	position: absolute;
	transform: translate(-140%, 45%);
}