@charset "UTF-8";
.res_img_main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.res_img_con {
  border: 1px solid #FFDACC;
  width: 70%;
  padding: 20px;
  margin-left: 0;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.res_img_title {
  margin: 0;
  text-align: center;
  background-color: #FFDACC;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px 0;
}

.res_img_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  margin-top: 20px;
}

.res_img_list img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.res_img_list img:hover {
  transform: scale(1.05);
}

.res_img_list div {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 15px; /* 이미지와 텍스트 간격을 조정합니다. */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  transition: box-shadow 0.3s ease-in-out; /* 그림자에 애니메이션 효과 추가 */
}

.res_img_list img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.res_img_writer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0)); /* 어두운 톤의 그라데이션 배경 적용 */
  text-align: center;
  font-size: 14px;
  color: #fff; /* 텍스트 색상을 흰색으로 변경 */
  box-sizing: border-box;
  border-radius: 0 0 8px 8px; /* 하단의 모서리를 둥글게 조정 */
  margin-bottom: 5px;
}
.res_img_toImgBoard {
  text-align: center;
  margin-top: 20px;
  color: #FF8A65;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: 8px 16px;
  border: 3px solid #FF8A65;
  border-radius: 15px;
  text-decoration: none;
  background: transparent;
  width: fit-content; /* 버튼의 가로 너비를 내용에 맞게 설정합니다. */
  margin: 0 auto; /* 가운데 정렬을 위해 좌우 여백을 자동으로 설정합니다. */
}

.res_img_toImgBoard:hover {
  color: #fff;
  background-color: #FF8A65;
}
.res_img_ad{
	width: 230px;
	height: 230px;
	object-fit: fill;
}
/* 모달 스타일 */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 배경을 검은색으로 투명하게 */
}

/* 모달 내 이미지 스타일 */
.modal-content {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; /* 이미지를 최대한 유지하며 모달 안에 맞게 조절 */
    border: 5px solid white; /* 선택적으로 이미지 주변에 흰색 테두리를 추가할 수 있어요 */
}



