@charset "UTF-8";
body{
	width: 1000px;
	margin: 0 auto;
}
.res_detail_info{
	height: 240px;
}
.res_detail_resName1 {
	font-size: 40px;
	display: inline-block;
	margin-top: 20px;
	margin-left: 5px;
	margin-bottom: 10px;
}
.res_detail_resName2{
	display: inline-block;
	margin-top: 0;
	margin-left: 20px;
}
.res_detail_re{
	display: flex;
	align-items: center;
}
.res_detail_rate_back{
	background: url(../../img/star01.png) no-repeat;
	width: 250px;
	height: 50px;
	position: relative;
}
.res_detail_rate_front{
	position: absolute;
	background: url(../../img/star02.png);
	width: auto;
	height: 50px;
}
.res_detail_score{
	margin-left: 5px;
	display: inline-block;
}
.res_detail_re > p{
	font-size: 45px;
	margin: 0;
}
.res_detail_re > h5{
	margin-top: 10px;
	margin-bottom: 10px;
	transform: translateY(-10px);
}
.res_detail_simIn{
	display: inline-block;
	margin: 5px;
}
.res_detail_simInT{
	display: inline-block;
	margin: 5px;
}
.res_detail_menu{
	height: 90px;
	display: flex;
}
.res_detail_menu > p {
	border-collapse: collapse;
	border: 1px solid #e1cb88;
	width: 250px;
	height: 100%; 
	justify-content: center;
	display: flex;
	align-items: center;
	margin: 0;
}
.res_detail_menu > p:hover{
	background-color: #e1cb88;
}
.res_detail_menu_cu{
	background-color: #e1cb88;
}
/*↑ 세부페이지 공통 css*/
/*----------------------------------------*/
.res_img_main{
	/*background-color: aqua;*/
	/*height: 1000px;*/
	width: 1000px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 20px;
}
.res_img_con{
	border: 1px solid #e1cb88;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75%;
}
.res_img_list{
	/*background-color: pink;*/
	width: 95%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.res_img_list img{
	width: 153px;
	height: 153px;
}
.res_img_list p{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 12.313px;
}
aside{
	margin-top: 20px;
	background-color: gold;
	width: 25%;
	height: 95%;
}
.res_img_toImgBoard{
	padding: 10px 20px;
	background-color: #e1cb88;
	
}




