@charset "UTF-8";
.res_img_main{
	/*background-color: aqua;*/
	/*height: 1000px;*/
	width: 1000px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 20px;
}
.res_img_con{
	border: 1px solid #FF7F50;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75%;
	margin-left: 0;
}
.res_img_title{
	padding: 10px 0;
	margin: 0;
	width: 100%;
	text-align: center;
	background-color: #FFDACC;
	margin-bottom: 8px;
}
.res_img_list{
	/*background-color: pink;*/
	width: 95%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.res_img_list img{
	width: 153px;
	height: 153px;
}
.res_img_list div{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 12.313px;
}
.res_img_writer{
	margin-top: 5px;
	margin-bottom: 5px;
}
.res_img_ad{
	width: 230px;
	height: 230px;
	object-fit: fill;
}
.res_img_toImgBoard{
	padding: 10px 20px;
	background-color: #FFDACC;
	border-radius: 20px;
	
}




