@charset "UTF-8";
.art {
	width: 1000px;
	margin: 0 auto;
}
.headline {
	width: 1000px;
}
.sup_main {
	width: 1000px;
	margin: 20px auto;
	box-sizing: border-box;
	background-color: #ffa07a;
	height: 100px;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 80px;
}
.sup_tag a:hover {
	color: white;
}
.sup_tag ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.sup_tag li {
	font-size: 16px;
}
.sup_title a{
	font-size: 24px;
	font-weight: bold;
	color: white;
}
.sup_search {
	width: 300px;
	height: 50px;
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 0 20px;
}
.sup_search input {
	width: 200px;
	height: 30px;
	border: none;
	border-radius: 15px;
}
.sup_search img {
	width: 30px;
	height: 30px;
}
.sup_link {
	width: 150px;
	height: 50px;
	color: white;
	background-color: #ff7f50;
	text-align: center;
	font-weight: bold;
	padding: 15px;
	box-sizing: border-box;
}
/* support - notice.jsp */
.notice {
	width: 1000px;
	margin: 0 auto;
	box-sizing: border-box;
}
.notice_con img {
	width: 50px;
	height: 50px;
}
.notice_con {
	width:900px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 10px;
	background-color: white;
}
.notice_con ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	list-style: none;
}
.notice_con li {
	padding: 10px 15px;
} 
.notice hr {
	padding: 0;
	margin: 0;
}
.notice p {
	margin: 0;
	padding: 0;
}
.date {
	font-size: 12px;
}
.btn {
	width: 900px;
	font-size: 16px;
	text-align: right;
	box-sizing: border-box;
	margin: 0 auto;
}
.btn button {
	height: 24px;
	background-color: blue;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 10px;
}
.notice_paging ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	gap: 20px;
	width: 350px;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}
.notice_paging {
	
	margin: 20px;
}
.qna table {
	width: 800px;
	margin: 0 auto;
}
.qna table th, .qna table td {
	
}
.qna input, .qna textarea {
	width: 400px;
}
.qna textarea {
	height: 250px;
}
.qna_button {
	width: 300px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #ff7518;
	border-radius: 15px;
	height: 30px;
	margin-top: 20px;
}
.qna_button a{
	border: none;
	width: 300px;
	cursor: pointer;
	border-radius: 15px;
	text-align: center;
	padding-top: 5px;
	color: white;
	font-weight: bold;
}