@charset "UTF-8";
.mbti_main {
	width: 1000px;
	height: 200px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "맑은고딕";
	font-weight: bold;
	padding-top: 50px;
}

#mbti_test {
	font-size: 150%;
	text-align: center;
	font-family: "HY견고딕";
}

.mbti_main ul {
	display: flex;
	flex-direction: row;
	gap: 20px;
	padding: 0;
	list-style: none;
	padding-bottom: 50px;
}
.mbti_main li {
	cursor: pointer;
	padding: 5px 10px;
	margin: 0 auto;
}

.mbti_main li > a  {
	cursor: pointer;
	padding: 5px 10px;
	color: white;
}

.mbti_main li:hover {
	border-bottom: 1px solid black;
}

.mbti_main > div > ul > li:nth-child(1) {
	background-color: deepskyblue;
	border-radius: 10px;
	padding: 20px;
}

.mbti_main > div > ul > li:nth-child(2) {
	color: white;
	background-color: indianred;
	border-radius: 10px;
	padding: 20px;
}

.mbti_result img {
	width: 250px;
	height: 250px;
	border-radius: 5px;
	box-sizing: border-box;
}

.mbti_result table, tr, td {
	padding: 10px;
	border: white;
}

.mbti_result {
	padding-top: 20px;
	padding-bottom: 40px;
}

.m_result > img {
	width: 800px;
	height: 1132px;
	box-sizing: border-box;
}
.search_main {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
}
.search_main > h1 {
    color: #333;
    padding-top: 50px;
    padding-bottom: 30px;
}
.search_main div {
    padding: 20px;
    background-color: #F3E2CC;
    border-radius: 30px;
    margin: 30px;
    
}

.search_main .button {
    padding: 20px;
    margin: 30px;
}

.search_main .result {
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
}

.result_button {
	left: 5px;
    color: white;
    background-color: indianred;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
  }

